cookie_name=placemark_session
cookie_password=your_long_secure_password_string

# Database Connections
db=mongodb://your_mongo_connection_string
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="your_firebase_private_key"

# Media Management
cloudinary_name=your_name
cloudinary_key=your_key
cloudinary_secret=your_secret