{{!-- {{> menu active="about"}}

<section class="hero is-info is-small">
  <div class="hero-body ">
    <div class="container is-max-desktop has-text-centered">
      <h1 class="title is-1">About Placemark</h1>
      <h2 class="subtitle">An application and  <a href="/documentation">API</a> for tracking adventure spots.</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-max-desktop ">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h3 class="title">What is it?</h3>
          <p>Placemark allows users to catalog their favorite locations, from hiking trails to hidden swimming spots.</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h3 class="title">Live Weather</h3>
          <p>OpenWeather is integrated to give real-time conditions for every spot saved.</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h3 class="title">Interactive Maps</h3>
          <p>Users can visualize adventure spots with Leaflet-powered maps on their personalized dashboard.</p>
        </div>
      </div>
    </div>
  </div>
</section>

 --}}

 {{> menu active="about"}}

<section class="section">
  <div class="container pb-5 is-max-desktop">
    
    <div class="box has-text-centered mb-6">
      <h1 class="title is-2">About Adventure Tracker</h1>
      <h2 class="subtitle is-5 mt-2">An application and <a href="/documentation" class="has-text-info">API</a> for tracking adventure spots.</h2>
    </div>

    <div class="columns">
      <div class="column">
        <div class="box has-background-info-light has-text-dark" style="height: 100%;">
          <h3 class="title is-5 has-text-dark">What is it?</h3>
          <p>Placemark allows users to catalog their favorite locations, from hiking trails to hidden swimming spots.</p>
        </div>
      </div>
      
      <div class="column">
        <div class="box has-background-info-light has-text-dark" style="height: 100%;">
          <h3 class="title is-5 has-text-dark">Live Weather</h3>
          <p>OpenWeather is integrated to give real-time conditions for every spot saved.</p>
        </div>
      </div>
      
      <div class="column">
        <div class="box has-background-info-light has-text-dark" style="height: 100%;">
          <h3 class="title is-5 has-text-dark">Interactive Maps</h3>
          <p>Users can visualize adventure spots with Leaflet-powered maps on their personalized dashboard.</p>
        </div>
      </div>
    </div>

  </div>
</section>