{{> menu active="dashboard"}}

<section class="section">
  <div class="container">
    <h1 class="title is-2">Adventure Discovery</h1>
    
    {{> list-categories}}

    <hr>
    
    <h2 class="title is-4 mt-5">Add a New Spot</h2>
    {{> add-placemark}}
    
  </div>
</section>