<section class="hero is-info">
  <div class="hero-body has-text-info-invert">
    <div class="title is-flex  is-align-items-center mb-0 p-2">
       <span class="icon is-large  mr-3">
          <i class="fas fa-compass fa-2x"></i>
        </span>
        <div class="has-text-weight-bold is-size-1">
          Adventure Tracker
          <span class="icon is-large">
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-person-swimming"></i>
          </span>
          <p class="subtitle is-5 mt-0">
            Discover, log and share Ireland's best outdoor spots.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


